# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Large datasets and model files
data/*
!data/.gitkeep

!data/raw/
data/raw/*
!data/raw/.gitkeep

!data/processed/
data/processed/*
!data/processed/.gitkeep

models/*
!models/.gitkeep